/Aluno.class
/Cliente.class
/Equipamento.class
/Patrimonio.class
/Professor.class
/Reserva.class
/ReservaEquipamento.class
/ReservaEquipamentoProfessor.class
/ReservaSala.class
/ReservaSalaAluno.class
/ReservaSalaProfessor.class
/Sala.class
